<!DOCTYPE html>
<script src="static/htmx.min.js"></script>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <a href="https://l.instagram.com/?u=https%3A%2F%2Flinktr.ee%2Fg.m.i.m&e=AT3IuT1-EW7UXuiR_38GAsBKlMDsNfD-kLd8K0tii7iJnGHSVKf6kzJsyw2uWpNKx2uAe5w4alrbpbbwQiRnyE8PsAm9tS071RGH9P7BLyZXJf0U">
        <img src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="Logo" class="logo">
    </a>
    {% block content %}{% endblock %}
</body>
</html>
