{% extends 'base.html' %} {% block title %} Login - GMIMCoin {% endblock %} {%
block content %}
<h1>Login</h1>
<form action="{{ url_for('login') }}" method="POST">
  <label for="username">Username:</label>
  <input
    type="text"
    id="username"
    name="username"
    required
    maxlength="150"
    placeholder="Enter your username"
  />
  <button type="submit">Login</button>
</form>

<p>
  Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.
</p>

<h2>Leaderboard</h2>
<table class="user-balances-table">
  <thead>
    <tr>
      <th>Username</th>
      <th>GMIMCoin Balance</th>
      <th>Role</th>
    </tr>
  </thead>
  <tbody>
    {% for user in sorted_users %}
    <tr>
      <td>{{ user.username }}</td>
      <td>{{ user.balance }}</td>
      <td>{{ user.role }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<h2>Available GMIMCoin Tokens</h2>
<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Token</th>
      <th>QR Code</th>
    </tr>
  </thead>
  <tbody>
    {% for token in gmimcoin_pool %}
    <tr>
      <td>{{ token.amount }}</td>
      <td>
        <a href="{{ url_for('attribute', token=token.token) }}"
          >{{ token.token }}</a
        >
      </td>
      <td>
        <img
          src="data:image/png;base64,{{ token.qr_code }}"
          alt="QR Code for {{ token.amount }} GMIMCoin"
        />
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
