{% extends "base.html" %}

{% block title %}
GMIMCoin Progress Board
{% endblock %}

{% block content %}
<button onclick="window.location.href = '/login';">Login</button>
<button onclick="window.location.href = '/register';">Register</button>
<h1>GMIMCoin Progress Board</h1>
<p></p><a href="https://www.instagram.com/g.m.i.manchester/">@g.m.i.manchester</a></p>
<div id="balances" hx-get="/update_balances" hx-trigger="every 1s">
  <table class="user-balances-table">
    <tr>
        <th>Loyal Member</th>
        <th>GMIMcoin</th>
    </tr>
    {% for user, data in sorted_users %}
    <tr data-id="{{ user }}" data-balance="{{ data['balance'] }}">
        <td>{{ user }}</td>
        <td class="balance">{{ data['balance'] }}</td>
    {% endfor %}
  </table>
</div>

{% endblock %}
